# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build & Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/build-maven-project.yml@main
    secrets:
      maven-repository-password: ${{ secrets.NEXUS_PASSWORD }}
      sonar-login: ${{ secrets.SONAR_TOKEN }}

  deploy_developer:
    uses: wtaxco/wtax-github-actions-workflows/.github/workfows/deploy-java-app.yml@main
    with:
      boot-jar: dummy
      known-hosts: "dummy ec2"
      ansible-inventory: inventory/developer.yml
      environment: dev
      environment-type: nonprod
    secrets:
      ansible-vault-password: ${{ secrets.VAULT_PASSWORD }}
      ssh-private-key: ${{ secrets.NONPROD_SSH_PRIVATE_KEY }}
    needs:
      - build

  deploy_uat:
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/deploy-java-app.yml@main
    with:
      boot-jar: dummy
      known-hosts: "dummy ec2"
      ansible-inventory: inventory/uat.yml
      environment: uat
      environment-type: nonprod
    secrets:
      ansible-vault-password: ${{ secrets.VAULT_PASSWORD }}
      ssh-private-key: ${{ secrets.NONPROD_SSH_PRIVATE_KEY }}
    needs:
      - build
      - deploy_developer

  deploy_prod:
    uses: wtaxco/wtax-github-actions-workflows/.github/workflows/deploy-java-app.yml@main
    with:
      boot-jar: dummy
      known-hosts: "dummy ec2"
      ansible-inventory: inventory/prod.yml
      environment: prod
      environment-type: prod
    secrets:
      ansible-vault-password: ${{ secrets.VAULT_PASSWORD }}
      ssh-private-key: ${{ secrets.NONPROD_SSH_PRIVATE_KEY }}
    needs:
      - build
      - deploy_uat
